/* font-family: 'Raleway', sans-serif;
font-family: 'Josefin Slab', serif;*/

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 45px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

a:link,a:active,a:visited {
  color: #ef233c;
  text-decoration:none;
}

a:hover {
  color: #bc0009;
  text-decoration:underline;
}

p, ul {
  font-family: 'Raleway', sans-serif;
}

#navName {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #85cb33;
}

#profile-pic {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.border {
  border-bottom: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.centered {
  text-align: center;
}

.content {
  padding-top: 50px;
}

.copy {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  text-align: center;
  color: #BABFC1;
}

.copy a {
  color: #BABFC1;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.larger {
  font-size: 110%;
  font-weight: bold;
}

.navbar {
   background-color: #565554;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
}

.school {
  font-style: italic;
}

.social {
  height: 30px;
  width: 30px;
}
