/* font-family: 'Raleway', sans-serif;
font-family: 'Lalezar', cursive; */

.nav-link {
  color: #363537;
}

.col-md-4.vertical_center {
  padding-top: 85px;
  padding-bottom: 85px;
}

.col-md-4.text_center {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background-color: #edf2f4;
}

.footer-text {
  color: #363537;
  align: center;
}

h1 {
  font-family: 'Lalezar', cursive;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}
h2, body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand.name {
  color: #ef233c;
  font-weight: bold;
}

.social {
  height: 30px;
  width: 30px;
}

.content {
  padding-top: 50px;
}

.title {
  text-align: center;
}

.centered {
  text-align: center;
}

.body.info {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.body a:link,a:active,a:visited {
  color:	#ef233c;
  text-decoration:none;
}

.body a:hover {
	color:	#bc0009;
  text-decoration:underline;
}

#profile-pic {
  height: 75%;
  width: 75%;
}

.download {
  font-size: 16px;
  text-align: center;
}

.download a:link,a:active,a:visited {
  color: #ef233c;
  text-decoration:none;
}

.download a:hover {
  color: #bc0009;
  text-decoration:underline;
}
