/* font-family: 'Raleway', sans-serif;
font-family: 'Lalezar', cursive; */

.project {
  height: 150px;
  width: auto;
}

.navbar {
  color: #edf2f4
}

a:link,a:active,a:visited {
  color: #ef233c;
  text-decoration:none;
}

a:hover {
  color: #bc0009;
  text-decoration:underline;
}

.return {
  font-size: 12px;
}

.nav-link {
  color: #363537;
}

.col-md-4.vertical_center {
  padding-top: 85px;
  padding-bottom: 85px;
}

.col-md-4.text_center {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background-color: #edf2f4;
}

.footer-text {
  color: #363537;
}

h1 {
  font-family: 'Lalezar', cursive;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

h2, body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand.name {
  color: #ef233c;
  font-weight: bold;
}

.social {
  height: 30px;
  width: 30px;
}

.content {
  padding-top: 50px;
}

.title {
  text-align: center;
}

.main-l {
  text-align: left;
}

.main-r {
  text-align: right;
}

.centered {
  text-align: center;
}

.body.info {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.body a:link,a:active,a:visited {
  color:	#ef233c;
  text-decoration:none;
}

.body a:hover {
	color:	#bc0009;
  text-decoration:underline;
}

#profile-pic {
  height: 75%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.download {
  font-size: 16px;
  text-align: center;
}

.download a:link,a:active,a:visited {
  color: #ef233c;
  text-decoration:none;
}

.download a:hover {
  color: #bc0009;
  text-decoration:underline;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
}

.courses {
  list-style-position: inside;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.school {
  font-weight: 500;
  font-style: italic;
}

.rlist {

}

.border {
  border-bottom: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.facts {
  text-align: right;
  list-style-position: inside;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cc {
  color: #BABFC1;
  font-size: 10px;
}

.cc a {
  color: #BABFC1;
  text-decoration: underline;
}

.orgs {
  font-weight: 500;
}

.main-c {
  text-align: center;
}

.copy {
  font-size: 10px;
  text-align: center;
  color: #BABFC1;
}

.copy a {
  color: #BABFC1;
  text-decoration: underline;
}

figure figcaption {
  text-align: center;
}

#portfolio {
  height: auto;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bullying {
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.it {
  font-style: italic;
}

#museum {
  height: auto;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
